<div>
    <button data-dojo-type="dijit/form/Button" type="button">
        <img src="${imgPath}/textfield.png" alt="[TextBox]">
        Textbox
    </button>
    <button data-dojo-type="dijit/form/Button" type="button">
        <img src="${imgPath}/checkbox.png" alt="[TextBox]">
        Checkbox
    </button>
    <button data-dojo-type="dijit/form/Button" type="button">
        <img src="${imgPath}/radiobutton.png" alt="[TextBox]">
        Radio Button
    </button>
    <button data-dojo-type="dijit/form/Button" type="button">
        <img src="${imgPath}/select.png" alt="[TextBox]">
        DropDown
    </button>
</div>